body{
background-color: black;
}
table {
    color: white;
    background: black;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    margin:auto;
  }
  table thead th,
  table tfoot th {
    color: red;
    background: rebeccapurple;
  }
  table caption {
    padding:.5em;
  }
  table th,
  table td {
    padding: .5em;
    border: 1px solid grey;
  }